li{
    text-decoration: none;

}

#navbar{

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

#navbar li{
    text-align: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    
    color: black;
    width: 200px;
    border: none;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.11);
}

#navbar a{
    text-decoration: none;
    color: rgba(61, 61, 61, 0.63);
    font-weight: bolder;
}

#navbar li:hover{
    transition: 0.3s;
    color: black;
    background-color: rgba(42, 45, 255, 0.5);
}